#add_character_page{
   
}

#add_character{
    flex: 0.5;
    margin-top: 30px;
}

#form_block_character{
    opacity: 0.85;  
}

#add_character_heading{
    padding: 5px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-color: rgb(31, 29, 29);
}

#character_form_content{
    background-color:  rgb(31, 29, 29);
   
}
#myCharacters_title{
    color: black;
}
.character_form_group{
    margin: 20px;  
}

.add_character_form{
    font-size: 3em;
}

.character_label{
    float: left;
    margin-right: 30px;
}

.character_input{ 
    margin-left: 40px;
    font-size: 0.5em;
    height: 50px;  
    background-color:  rgb(31, 29, 29);  
    border: none;
    border-right: 0;  
    color: #8D9095;    
}

.basic_input{
    width: 30%;
}

.skill_input{
    width: 12%;
}