#Csheet_page {
    background-color: #090809;
    color: black;
    height: 100%;
}


#charactersheet_detail {  
    margin: 20px 5px 0 5px;    
}

.b_g {
    background-color:white;
    border-radius: 10px;
    margin: 8px;
}

.border {
    border: 2px solid rgb(116, 159, 187);
}

.content {
    position: relative;
    width: calc((100%) - 40px);
    height: calc((100%) - 40px);
    margin: 20px;
}

.box_title {
    position: absolute;
    font-size: 1.6em;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.action_btns{
    outline: none;
}

.skill_ul {
    font-size: 1em;
    list-style-type: none;
}

#skill_list_title{
    margin-bottom: 35px;
    color: #838383;
    font-weight: 700;
}

#frofile_block {
    height: 200px;
    margin: 32px 15px 20px 15px;
}

#basic_info_block_content{
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

#basic_info_block {
    flex: 11;
    height: 100%;
    margin-top: 0;
    font-size: 1.8em;   
    display: flex;
    justify-content: space-between;  
}


#cha_pic_block {
    flex: 1.5;
    background-image: url("/csheet_profile.jpg");
    background-repeat: no-repeat;  
    background-position: center;
    z-index: 999; 
}

#basic_info_block_00{
    flex: 1.5;
    padding-left: 30px;
}

#basic_info_block_01{
    flex: 1;
    display: flex;
}

.basic_info_block_btn{
    position: relative;
    flex: 1;
    margin-bottom: 30px;
}

.basic_info_block_btn button{
    position: absolute;
    width: 62%;
    height: 50px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: #090809;
    border: 2px solid rgb(116, 159, 187);
    bottom: 0;
    margin: 0 16px;
}

#cha_core_info {
    display: flex;
    justify-content: space-between;
}

.block {
    height: 2200px;
}

#block_01 {
    flex: 3.5;
    display: flex;
    flex-direction: column;
}

#block_01_up {
    display: flex;
    justify-content: space-between;
    flex: 3;
}

#block_01_down {
    flex: 1;
}

#core_skill_block {
    margin-right: 8px;
}

.core_skill {
    width: 160px;
    height: 200px;
    margin: 70px 0 50px 16px;
    text-align: center;
}

.core_skill_box_title {
    font-size: 1.2em;
    padding-top: 5px;
    text-align: center;
    font-weight: 700;
}

.core_skill_dice{
    width: calc((100%)-40px);
    height: 80px;
    margin: 10px 20px 0 20px;
    font-size: 4em;
    font-weight: bold; 
}

.core_skill_value{
    width: 80px;
    height: 60px;
    border-radius: 15px;
    font-size: 2.2em;
    margin: 20px 0 0 40px;
    background-color:white;
}

.core_skill_value p{
    margin-top: 12px;
}

#skill_2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill_2_col {
    margin: 20px;
}

#inspiration_container {
    flex: 0.5;
}

.value_box {
    width: 30%;
    height: 130%;
    float: right;
    position: relative;
    margin-top: -90px;
    text-align: center;
}

#pro_bonus_container {
    flex: 0.5;
}

#pro_bonus{
    margin-top: 25px;
    font-size: 3.5em;

}

.inspiration_container_title{
    font-size: 1.3em;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 5px;
}

#saving_throws_container {
    flex: 1.5;
}

.saving_throws{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.8em;
}

.saving_throws_row{
    flex: 1;
    margin: 16px 0 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.saving_throws_item{
   flex: 1;
   display: flex;  
}

.saving_throws_item_1{
    margin-right: 16px;
}

.saving_throws_ability_prof{
    flex: 1;
}

.saving_throws_ability_name{
    flex: 2;
}

.saving_throws_ability_modifier{
    flex: 2;
    text-align: center;
}

#skill_details_container {
    flex: 6;
    position: relative;
}

#skill_list_title{
    margin-bottom: 0;
}


#block_02 {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

#hit_block {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hit_block0 {
    flex: 1;
}

#quick_info {
    display: flex;
    justify-content: space-between;
}

.quick_info0 {
    flex: 1;
    margin: 16px;
    padding-top: 15px;
    text-align: center;
}

#initiative_title{
    margin-top: 20px;
}

#speed_unit{
    margin-left: 3px;
    font-size: 0.6em;
    color: #838383;
}

#dice {
    display: flex;
    justify-content: space-between;
}

.dice_block {
    flex: 1;
}

#cur_points_box {
    flex: 1;
}

#hiit_point_max_div{
    text-align: left;
}

#hiit_point_max{
    color: #838383;
    font-size: 1.6em;
    border-bottom: 1px solid rgb(116, 159, 187);
    margin-bottom: 5px;
}

.points_num{
    margin-left: 100px;
    font-size: 1.2em;
}

.points{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

#hiit_dice_points{
    font-size: 3.5em;
    text-align: center;
}

#atk_spl {
    flex: 1.1;
}

#equipment_block{
    flex: 0.65;
}

#block_03 {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block_03_00 {
    flex: 1;
}

.block_03_01{
    flex: 5;
}




